*~
.*~
.DS_Store
.Rhistory
.RData
.RData.rkworkplace
.png
.svg
.gnumeric
.here
figure/
knitr-templates.rmd
v56b02.pdf
Environment_Coastal_sea_level_rise_19012018.csv
Knitr-notes-09-12-2024.r
Untitled.txt
nzt7timeseries_720by540.svg
NZ-T7-land-temp-anom-720by540-v1.svg.png
nzt7timeseries_720by540.svg
NZ-T7-land-temp-anom-2021-720by540-TS.svg
Readme.html
Readme.log
Readme.rmd
Readme.tex
Untitled2.txt
new-zealand-TAVG-Trend.txt
nzt7timeseries2022-560by420.png

